<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){
            var socket  = io.connect();
            $('#epic').click( function (){
                var click_total = $('#num').text();
                socket.emit('add_one', {click_total: click_total});
            });
            socket.on('add_one_response', function(data){
                $('#num').text(data.response_total);
            });

            $('#reset').click( function (){
                socket.emit('reset');
            });
            socket.on('reset_response', function(data){
                $('#num').text(data.reset);
            });
        });
    </script>
    <title>Epic Counter Game</title>
  </head>
  <body>
    <div class='container'>
        <button id='epic'>Click Me I'm Epic</button>
        <div id='txt'>The button has been pressed <span id='num'>0</span> time(s).</div>
        <button id='reset'>Reset</button>
    </div>
  </body>
</html>